#slider-32 P {
  text-align: center;
}
#slider-32 H1 {
  color: #ffffff;
}
#msg-box1-31 .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box1-31 .mbr-article {
  color: #000000;
}
#contacts3-26 P {
  color: #000000;
  font-size: 16px;
}
#contacts3-26 .btn {
  font-size: 14px;
}
#social-buttons2-25 .mbr-header__text {
  color: #000000;
  font-size: 25px;
}
#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-9 .mbr-navbar__section {
  background: #ffffff;
}
#slider-15 P {
  text-align: center;
}
#slider-15 H1 {
  color: #ffffff;
}
#msg-box1-17 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-17 .mbr-article {
  color: #fff;
}
#contacts3-19 P {
  color: #000000;
  font-size: 16px;
}
#contacts3-19 .btn {
  font-size: 14px;
}
#social-buttons2-20 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}
#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-22 .mbr-navbar__section {
  background: #ffffff;
}
#contacts1-49 P {
  color: #ffffff;
}
#social-buttons2-28 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}
#ext_menu-30 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-30 .mbr-navbar__section {
  background: #ffffff;
}
#slider-31 P {
  text-align: center;
}
#slider-31 H1 {
  color: #ffffff;
}
#msg-box1-33 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-33 .mbr-article {
  color: #fff;
}
#contacts3-35 P {
  color: #000000;
  font-size: 16px;
}
#contacts3-35 .btn {
  font-size: 14px;
}
#social-buttons2-36 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}
#ext_menu-38 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-38.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-38 .mbr-navbar__section {
  background: #ffffff;
}
#slider-32 P {
  text-align: center;
}
#slider-32 H1 {
  color: #ffffff;
}
#msg-box1-34 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-34 .mbr-article {
  color: #fff;
}
#contacts3-36 P {
  color: #000000;
  font-size: 16px;
}
#contacts3-36 .btn {
  font-size: 14px;
}
#social-buttons2-37 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}
#ext_menu-39 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-39.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-39 .mbr-navbar__section {
  background: #ffffff;
}
#slider-40 P {
  text-align: center;
}
#slider-40 H1 {
  color: #ffffff;
}
#msg-box1-42 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-42 .mbr-article {
  color: #fff;
}
#contacts3-44 P {
  color: #000000;
  font-size: 16px;
}
#contacts3-44 .btn {
  font-size: 14px;
}
#social-buttons2-45 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}
#ext_menu-47 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-47.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-47 .mbr-navbar__section {
  background: #ffffff;
}
