@charset "UTF-8";
/* Controls width of your form */
#rs-lead-add-container {
	width: 100%;
	margin: auto;
	font-family: Roboto, Arial, sans-serif;
}

.field-list {
    width: 100%; 
}

.rs-skin-font-arial, .rs-skin-font-arial.button-next, .rs-skin-font-arial input, input.rs-skin-font-arial {
    font-family: Roboto, Arial, sans-serif;
}

/* Controls the style, width, and font style of the text input, select and textarea fields */
.e2ma_signup_form input[type=text],
.e2ma_signup_form input[type=email],
.e2ma_signup_form textarea,
.e2ma_signup_form select[multiple=multiple] {
	min-width:100px;
    height: 36px;
    width: 100%;
    border: 1px solid #B8BCC2;
    font-size: 13px;
    color: #84878E;
    padding-left: 10px;
    max-width: 580px;
}

.e2ma_signup_form input[type="text"]:focus,
.e2ma_signup_form input[type="email"]:focus,
.e2ma_signup_form textarea:focus,
.e2ma_signup_form select[multiple=multiple]:focus {
    outline: none;
    border: 1px solid #46AFD8;
}

.e2ma_signup_form textarea {
	min-height: 138px;
}

.e2ma_signup_form select {
	max-width: 580px;
}

.e2ma_signup_form select[multiple=multiple] {
    height: 72px;
    padding-left: 0;
}

/* Controls width, style, and padding of the table border outlines around individual member fields */
.e2ma_signup_form_row {
	margin-bottom: 5px;
}

/* Controls alignment and display of image in welcome message */
.e2ma_signup_image_container {
    text-align:center;
    display: inline;
}

/* Controls border around signup image (when image is linked) */
.e2ma_signup_image {
    border:0;
}

/* Controls style and formatting of welcome message */
.e2ma_signup_message {
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    display: block;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
}

/* Controls style and formatting of form field labels (first name, last name, etc.) */
.e2ma_signup_form_label {
	min-width: 150px;
    font-size: 14px;
    color: #40454F;
    /*font-weight: 600;*/
    padding-top: 10px;
}

/* Controls spacing and style for any text used to list options under multiple choice fields) */
.e2ma_signup_form_element {
	margin-top: 5px;
}

/* Removes the bullets to the left of list items on the sign up pages */
.e2ma_signup_form_element li {
	list-style: none;
	font-size: 13px;
	color: #40454f;
}

.e2ma_signup_form_element ul {
	padding-left: 0;
	margin: 5px 0 0;
}

/* For signup screens that are set to allow people to select which audience groups they'd like to join: Controls style for "Select your interests..." text */
.e2ma_signup_form_group_label {
    min-width:150px;
    font-size: 14px;
    color: #40454F;
    font-weight: 600;
    padding-top: 10px;
}

/* For signup screens that are set to allow people to select which audience groups they'd like to join: Controls style and spacing for groups displayed as options */
.e2ma_signup_form_groups {
	margin-bottom:10px;
}

/* Controls the style and spacing of the word "required" and border surrounding that text */
.e2ma_signup_form_required_footnote {
    margin-top: 10px;
	margin-bottom: 5px;
    font-size: 13px;
    color: #40454F;
}

/* Controls the color of the asterisk that indicates a field is required */
.e2ma_signup_form_required_asterix {
	/*color: #E96058;*/
}

/* Controls the alignment of "submit" and "clear" buttons */
.e2ma_signup_form_button_row {
	float: right;
	margin-top: 10px;
}

/* Controls display of the "clear" button */
.e2ma_signup_form_button_row #e2ma_signup_reset_button {
	display: none;
}

/*Overrides browser default settings for button styles (for additional control of "submit" and "clear" buttons) */
.e2ma_signup_form_group_list {
	font-size: 13px;
	color: #40454f;
	margin-top: 5px;
}

.button-next, a.button-next, a.button-next:hover, a.button-next:link, input.button-active {
    background-color: transparent;
    color: #252525;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 18px;
    font-weight: bold;
    min-width: 90px;
    margin: 0 0 13px 10px;
    border-color: #252525;
    border-width: 2px;
    border-radius: 0px;
    letter-spacing: 2px;
    padding: 16px 27px;
}

a.button-next:hover {
    cursor: pointer;
    background-color: #252525;
    color: #fff;
}

